@model AppUserVM

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Fail != null)
{
    <div class="alert alert-danger">
        @ViewBag.Fail
    </div>
}


@if (ViewBag.FailUpdate != null)
{
    <div class="alert alert-danger">
        @ViewBag.FailUpdate
    </div>
}

  <body class="login-body">

    <div class="container">

      <form class="form-signin" asp-action="ChangePassword" asp-controller="AppUsers">
        <div class="login-wrap">
            <input asp-for="AppUserPasswordUpdateModel.ID" type="hidden"/>
            <div>
            <input type="password" class="form-control" asp-for="AppUserPasswordUpdateModel.OldPassword" placeholder="Eski Şifre">
                <span asp-validation-for="AppUserPasswordUpdateModel.OldPassword" class="text-danger"></span>
            </div>
             <div>
            <input type="password" class="form-control" asp-for="AppUserPasswordUpdateModel.NewPassword" placeholder="Yeni Şifre">
                <span asp-validation-for="AppUserPasswordUpdateModel.NewPassword" class="text-danger"></span>
            </div>
             <div>
            <input type="password" class="form-control" asp-for="AppUserPasswordUpdateModel.ConfirmPassword" placeholder="Tekrar Yeni Şifre">
                <span asp-validation-for="AppUserPasswordUpdateModel.ConfirmPassword" class="text-danger"></span>
            </div>

            <button class="btn btn-lg btn-login btn-block" type="submit">Güncelle</button>
        </div>
      </form>
    </div>
  </body>


