@model AppUserVM

@{
    ViewData["Title"] = "UpdateProfile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.Fail != null)
{
    <div class="alert alert-danger">
        @ViewBag.Fail
    </div>
}

@if (ViewBag.FailUpdate != null)
{
    <div class="alert alert-danger">
        @ViewBag.FailUpdate
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <form asp-action="UpdateProfile" asp-controller="AppUsers" method="post" >

                <input type="hidden" asp-for="AppUser.ID" />
                <div class="form-group">
                    <label> Kullanıcı ismi</label>
                    <input type="text" asp-for="AppUser.FirstName" class="form-control" />
                <span asp-validation-for="AppUser.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label> Kullanıcı Soyismi</label>
                    <input type="text" asp-for="AppUser.LastName" class="form-control" />
                <span asp-validation-for="AppUser.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label> Kullanıcı Telefon numarası</label>
                    <input type="text" asp-for="AppUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="AppUser.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label> Kullanıcı Email</label>
                    <input type="email" asp-for="AppUser.Email" class="form-control" />
                <span asp-validation-for="AppUser.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>
