@model AppUserRoleVM
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    @if(ViewBag.FailAdd!=null)
    {
          <div class="alert alert-danger">
                @ViewBag.FailAdd
            </div>
    }

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <form asp-action="Add" asp-controller="AppUserRoles" method="post">
                <div class="form-group">
                    <label> Kullanıcı</label>
                    <select asp-for="AppUserRole.AppUserID" asp-items="@(new SelectList(Model.AppUsers,"ID","UserName"))" class="form-control">
                        <option selected="selected" value="0">Lütfen Seçiniz</option>
                    </select>
                </div>
                 <div class="form-group">
                    <label> Rol</label>
                    <select asp-for="AppUserRole.RoleID" asp-items="@(new SelectList(Model.Roles,"ID","Name"))" class="form-control">
                        <option selected="selected" value="0">Lütfen Seçiniz</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>


