
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/OutherTools/FlatAdmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/OutherTools/FlatAdmin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/OutherTools/FlatAdmin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/OutherTools/FlatAdmin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="~/OutherTools/FlatAdmin/stylesheet" href="css/owl.carousel.css" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/OutherTools/FlatAdmin/css/style.css" rel="stylesheet">
    <link href="~/OutherTools/FlatAdmin/css/style-responsive.css" rel="stylesheet" />

</head>

<body>

    <section id="container">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="index.html" class="logo">Mini<span>E-Ticaret</span></a>
            <!--logo end-->
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" asp-action="Index" asp-controller="AppUsers">
                            <img alt="" src="~/OutherTools/FlatAdmin/img/avatar1_small.jpg">
                            <span class="username"><i class="icon-key"></i> Log Out</span>  
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li><a href="/AppUsers/LogOut"><i class="icon-key"></i> Log Out</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" asp-action="Index" asp-controller="AppUsers">
                            <i class="icon-desktop"></i>
                            <span>Hesabım</span>
                        </a>
                    </li>

                    <li>
                        <a class="active" asp-action="Index" asp-controller="Products">
                            <i class="icon-shopping-cart"></i>
                            <span>Ürünler</span>
                        </a>
                    </li>
                    <li>
                        <a class="active" asp-action="Index" asp-controller="Categories">
                            <i class="icon-reorder"></i>
                            <span>Kategoriler</span>
                        </a>
                    </li>

                    <li>
                        <a class="active" asp-action="Index" asp-controller="Offers">
                            <i class="icon-group"></i>
                            <span>Teklifler</span>
                        </a>
                    </li>

                    <li>
                        <a class="active" asp-action="Index" asp-controller="Colors">
                            <i class=" icon-magic"></i>
                            <span>Renkler</span>
                        </a>
                    </li>

                    <li>
                        <a class="active" asp-action="Index" asp-controller="Brands">
                            <i class="icon-star-half-empty"></i>
                            <span>Markalar</span>
                        </a>
                    </li>
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li>
                            <a class="active" asp-action="Index" asp-controller="Roles">
                                <i class="icon-star-half-empty"></i>
                                <span>Roller</span>
                            </a>
                        </li>
                        <li>
                            <a class="active" asp-action="Index" asp-controller="AppUserRoles">
                                <i class="icon-star-half-empty"></i>
                                <span>Kullanıcılar ve Rolleri</span>
                            </a>
                        </li>
                    }

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>
        <!--main content end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/OutherTools/FlatAdmin/js/jquery.js"></script>
    <script src="~/OutherTools/FlatAdmin/js/jquery-1.8.3.min.js"></script>
    <script src="~/OutherTools/FlatAdmin/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/OutherTools/FlatAdmin/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/OutherTools/FlatAdmin/js/jquery.scrollTo.min.js"></script>
    <script src="~/OutherTools/FlatAdmin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/OutherTools/FlatAdmin/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/OutherTools/FlatAdmin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/OutherTools/FlatAdmin/js/owl.carousel.js"></script>
    <script src="~/OutherTools/FlatAdmin/js/jquery.customSelect.min.js"></script>
    <script src="~/OutherTools/FlatAdmin/js/respond.min.js"></script>

    <script class="include" type="text/javascript" src="~/OutherTools/FlatAdmin/js/jquery.dcjqaccordion.2.7.js"></script>

    <!--common script for all pages-->
    <script src="~/OutherTools/FlatAdmin/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="~/OutherTools/FlatAdmin/js/sparkline-chart.js"></script>
    <script src="~/OutherTools/FlatAdmin/js/easy-pie-chart.js"></script>
    <script src="~/OutherTools/FlatAdmin/js/count.js"></script>

    <script>

        //owl carousel

        $(document).ready(function() {
            $("#owl-demo").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true

            });
        });

        //custom select box

        $(function() {
            $('select.styled').customSelect();
        });

    </script>

</body>
</html>
